<!-- HAMBURGER MENU-->
<div class="menu-wrap">
 <input type="checkbox" class="toggler">
 <div class="hamburger"><div></div></div> 
 <div class="mobileMenu">
  <div>
        <div>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/biography/">Biography</a></li>
                  <li><a href="/music/">Music</a></li>
                  <li><a href="/contact-me/">Contact Me</a></li>
                </ul>
        </div>
  </div>         
</div>
</div>


<ul class="menu">
<li><a href="/" class="navLink">Home</a></li>
<li><a href="/biography/" class="navLink">Biography</a></li>
<li><a href="/music/" class="navLink">Music</a></li>
<li><a href="/contact-me/" class="navLink">Contact Me</a></li>
</ul>